@tailwind base;
@tailwind components;
@tailwind utilities;

#alignment{
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 place-content: center;
 flex-direction: row;
 padding: 140px;
 /* border: 1px solid red; */

 background: url(/images/background.png);
}
#alignment2{
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 place-content: center;
 flex-direction: row;
 padding: 145px;
 /* border: 1px solid red; */
 gap: 10px;
}
input{
border: 1px solid black; 
padding: 10px;
}
button{
 padding: 10px ;
 background-color: #C7D4CE;
 color: white;
 border-radius: 5px;
}
select{
 border: 1px solid black; 
padding: 10px;
}
p{
 color: aqua;
 font-size: 20px;
 background-color: blueviolet;
}

@media (max-width: 768px){
 *{
  /* overflow: hidden; */
 }
 #alignment{
  display: grid;
  padding: 10px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  place-content: center;
  /* width: 90px; */
  /* padding: 7px; */
  /* flex-direction: row; */
  /* padding: 10px; */
  /* border: 1px solid red; */
  background-size: cover;
  background-position: center;
 
  /* background: url(/images/background.png); */
 }
 #alignment2{
  display: grid;
  /* padding: 7px; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  place-content: center;
  width: 97vw;
  /* width: 90vw; */
  /* flex-direction: row; */
  /* padding: 15px; */
  /* border: 1px solid red; */
  gap: 10px;
 }
 input{
  border: 1px solid black; 
  /* padding: 0px; */
  }
  select{
   border: 1px solid black; 
  /* padding: 0px; */
  }
  p{
   color: aqua;
   font-size: 12px;
   background-color: blueviolet;
  }
}